/* mainstyles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(https://media.discordapp.net/attachments/745333555177193553/1158256520585297980/Cosmic_HorrorC_1.png?ex=651b95f1&is=651a4471&hm=7946c22b62c84cad290f1817eb50f28a4fdd385e012056c968cd113b0d976f37&=&width=1177&height=662);
    image-rendering: auto;
    background-size: cover;
    background-repeat: no-repeat; /* Don't repeat the background image */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

.week-links {
    text-align: center;
}

.week-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.week-link:hover {
    background-color: #555;
}
