/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.social-icons ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
}

.social-icons li {
    margin: 10px 0; /* Add vertical spacing between icons */
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 50px; /* Adjust the size as needed */
    display: block; /* Ensure the image doesn't affect spacing */
    margin: 50px auto; /* Center the image horizontally */
}
img {
    scale: 200%;
    width: auto; /* Set a fixed width */
    height: auto; /* Set a fixed height */
    border-radius: 50%; /* Create a circular shape */
    border-image: 20px  ;
    margin: 50px;

}