/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #EADBC8;
    background-image: url(https://media.discordapp.net/attachments/745333555177193553/1160626275749208224/image1_0.png?ex=65355873&is=6522e373&hm=a993dd531d317f5cf1fff8c0824b0dd8423bebdd4734fc67b0defaec1f6dede5&=&width=1177&height=662);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.social-icons ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
}

.social-icons li {
    margin: 10px 0; /* Add vertical spacing between icons */
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 50px; /* Adjust the size as needed */
    display: block; /* Ensure the image doesn't affect spacing */
    margin: 75px auto; /* Center the image horizontally */
}
img {
    scale: 200%;
    width: auto; /* Set a fixed width */
    height: auto; /* Set a fixed height */
    border-radius: 50%; /* Create a circular shape */
    border-image: 20px  ;
}
.social-icons ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
}

.social-icons li {
    margin: 10px 0; /* Add vertical spacing between icons */
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 50px; /* Adjust the size as needed */
    display: block; /* Ensure the image doesn't affect spacing */
    margin: 75px auto; /* Center the image horizontally */
}

/* Styles for the Facebook icon and text */
.facebook-page {
    display: flex;
    align-items: center;
}


.page-name {
    font-size: 18px; /* Customize the font size */
    font-weight: bold; /* Customize the font weight */
    color: #1877f2; /* Customize the text color */
}
