/* styles.css */
body {
    background-color: #EADBC8;
    background-image: url(https://media.discordapp.net/attachments/745333555177193553/1160620632749387896/image0_0.png?ex=65355332&is=6522de32&hm=3e283221744c9dddf4a15680e0c03a5867dda660e6b2243dc30dbfd3de92f992&=&width=1177&height=662);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%; /* Set the width to 100% for responsiveness */
    padding: 10px; /* Adjust padding to control the size */
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px; /* Reduce the height for smaller textareas */
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}