/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%; /* Set the width to 100% for responsiveness */
    padding: 10px; /* Adjust padding to control the size */
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px; /* Reduce the height for smaller textareas */
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}