h3 {
    color: black;
}
body{
    background-color: #EADBC8;
    margin: 0px;
    background-image: url(https://cdn.discordapp.com/attachments/745333555177193553/1160578030083772447/image1_0.jpg?ex=65352b84&is=6522b684&hm=521cebbbff3cf81422dde6ee48d5d022f84ebe141ccc5ca5dde3c1c4035aeba2&);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
}
.Header {
    text-align: center;
    background-color:#FAF0E6;
    margin: 10px;
    padding: 20px;
}
.mid {
    background-color: #B9B4C7;
    text-align: center;
    margin: 10px;
    padding: 20px;
}
.bottom {
    background-color: #B9B4C7;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.section {
    margin-bottom: 20px;
}

#Mypic {
    width: 200px; /* Set a fixed width */
    height: 220px; /* Set a fixed height */
    border-radius: 50%; /* Create a circular shape */
    border-image: 3px black ;
}
hr {
        border: 10px black;
        border-style: dotted none none;
        height: 0px;
        width: 100% ; /* Adjusted to fill the page width */
        margin: 10px auto ;
        padding: 0px ;
        border-collapse: collapse;
        display: table;
        border-width: 0px;
}
#goback-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.my-table {
    border-collapse: collapse;
    background-color: #5C5470; /* Black background color */
}

.my-table th,
.my-table td {
    border: 3px solid #000; /* Black border */
    padding: 8px;
    text-align: left;
    color: #fff; /* Text color */
}

.my-table th {
    background-color: #333; /* Dark gray header background color */
}
#icon-contact {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.navbar {
    background-image: url(https://cdn.gencraft.com/prod/user/09eccf11-2b10-41b2-8093-1d677a8c5927/a9c3fa9a-6816-4973-92da-7aa4e8914abc/images/image0_0.jpg?Expires=1696863064&Signature=WY6c1jiTbR~aCSOoOKqJINRYHYGXOKoUPx3N1f1MHUqKnxBxvHakBgvxUEuDL~NFS~4ZiAJJnZoHtPiDJr7jem4XNLKFFHc5gYP1WSulrO8ifvVxsWIiFg6OXVDwoMxdlEqz9jBYpvENY6u2pMeLBcFNd11vfg8GgpSAXfZUSAx2S426C4qntlavGvkUMJUtHadOWas4VkkUhmnGcB~23EBMB540TmdPYiwEuT2Tov5igq88LRNObN3iZRJkvJlGwvQxX9VRuMFrqimb~ZMRkKe6SaeocsNUiTYYTXQSPtCoc~RbxgpYMK0PrAiSViL5PZ5JBdqIqUKnJnUy2wRkCw__&Key-Pair-Id=K3RDDB1TZ8BHT8); /* Replace with your image path */
    background-size: 100% 100%;/* Adjust the background size as needed */
    background-repeat: no-repeat;
    background-color: #FAF0E6; /* Prevent background image from repeating */ /* Set the height of the navbar as needed */
    /* Add other styles like padding, text color, etc. */
}