h3 {
    color: black;
}
body{
    background-color: #EADBC8;
}
.Header {

    background-color:#FAF0E6;
}
.mid {
    background-color: #B9B4C7;
}
.bottom {
    background-color: #B9B4C7;
    padding-bottom: 20px;
}

#Mypic {
    width: 200px; /* Set a fixed width */
    height: 220px; /* Set a fixed height */
    border-radius: 50%; /* Create a circular shape */
    border-image: 3px black ;
    text-align: center
}
hr {
        border: 0px black;
        border-style: dotted none none;
        height: 0px;
        width: 100% ; /* Adjusted to fill the page width */
        margin: 0px ;
        border-collapse: collapse;
}
#goback-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

#goback-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#goback-button:hover {
    background-color: #555;
}

.my-table {
    border-collapse: collapse;
    background-color: #5C5470; /* Black background color */
}

.my-table th,
.my-table td {
    border: 3px solid #000; /* Black border */
    padding: 8px;
    text-align: left;
    color: #fff; /* Text color */
}

.my-table th {
    background-color: #333; /* Dark gray header background color */
}
#icon-contact {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
