.middlecontainer {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    display: inline-block;
    left: 200px;
}
.bottomcontainer {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;;
    display: inline-block;
    left: 300px;

}
.topcontainer {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    display: inline-block;
    left: 100px;

}
body{
    margin: 0px;
    border-collapse: collapse;
    padding: 0px;
}