.middlecontainer {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    bottom: 100px;
    left: 100px;
}
.bottomcontainer {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    bottom: 200px;
    left: 200px;

}
.topcontainer {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
}
body{
    margin: 0px;
}