.middlecontainer {
    height: 100px;
    width: 100px;
    background-color: red;
}
.bottomcontainer {
    height: 100px;
    width: 100px;
    background-color: blue;
}
.topcontainer {
    height: 100px;
    width: 100px;
    background-color: yellow;
}
body{
    margin: 0px;
}