#heading {
    color: orange;
    font-size: 150px;
}
.Bacon,.Broccoli {
    border-radius: 50%;
}
.Bacon:hover {
    background-color: red;
}
.Broccoli:hover {
    background-color: green;
}
#goback-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

#goback-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#goback-button:hover {
    background-color: #555;
}

h1:hover {
    background-color: red;
}
#Square-container{
    padding: auto;
}
#Squarebody {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
