body {
    background-color: seagreen;
    text-align:  center;
    margin: 0px;
}
#icon-contact {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
